<main class="s1">
    <div class="carrinho-produtos">
        <h1>SEU CARRINHO</h1>
        <h2>TOTAL</h2>
        <p>Os itens do seu carrinho não estão reservados. Finalize a compra para torná-los seus itens pessoais</p>

        <div class="produtos">
            <div class="informacao-produto">
                <img src="" alt="">
                <div class="informacao">
                    <h1></h1>
                    <h1></h1>
                    <div class="contador">
                        <div>
                            <img src="" alt="">
                            <p></p>
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <div class="preco">
                    <p>R$</p>
                </div>
            </div>
        </div>
    </div>

    <div class="finalizamento">
        <div class="finalizar">
            <div>
                <link rel="stylesheet" href="">
            </div>
        </div>
    </div>
</main>