<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>

    <div class="divTotal">
        <div class="imgLogin">
            *add imagem*
        </div>

        <div class="divLogin">
            <h2>Identifique-se no Livraria:</h2>

            <p>Email: <input type="email"></p>
            <p>Senha: <input type="password"></p>

            <div class="buttonLogin">
                <button>Submit</button>
                <button>Novo</button>
            </div>
        </div>
    </div>

</body>

</html>