<body>
    <section class="divTotal">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="divLogin">
                <h2>Login</h2>

                <label for="email">Email: </label>
                <input id="email" type="email" formControlName="email">

                <label for="password">Senha: </label>
                <input id="password" type="password" formControlName="password">

                <div class="divButtons">

                    <button type="submit" class="buttonLogin">
                        Entrar
                    </button>

                    <button type="button" class="buttonCadastro" routerLink="/telaCadastro">
                        Cadastrar-se
                    </button>
                </div>
            </div>
        </form>
    </section>
</body>