<section class="home">
    <div class="content-container">
        <div class="home-text">
            <span class="home-subtitle">
                RÁPIDO. FÁCIL. LITERÁRIO.
            </span>
            <h1>
                Encontre sua <br>
                próxima grande história <br> com facilidade
            </h1>
            <p>
                Uma plataforma completa para descobrir livros, acompanhar seus pedidos e gerenciar sua estante de forma
                simples e segura.
            </p>
            <button class="input-submeter">
                Começar agora →
            </button>
        </div>
        <div class="content-container">

           
            <h1>Livros disponíveis</h1>

            
            <div class="livros-grid">
                
                <div class="livro-card">
                    <img src="/img/senhor-dos-aneis.jpg" alt="Capa do Livro O Senhor dos Anéis">
                    <h3>O Senhor dos Anéis</h3>
                    <p>R$ 120,50</p>
                    <button class="btn-comprar" routerLink="/carrinho">Comprar</button>
                </div>

                
                <div class="livro-card">
                    <img src="/img/1984.jpg" alt="Capa do Livro 1984">
                    <h3>1984</h3>
                    <p>R$ 45,90</p>
                    <button class="btn-comprar" routerLink="/carrinho">Comprar</button>
                </div>

                
                <div class="livro-card">
                    <img src="/img/dom-casmurro.jpg" alt="Capa do Livro Dom Casmurro">
                    <h3>Dom Casmurro</h3>
                    <p>R$ 35,00</p>
                    <button class="btn-comprar" routerLink="/carrinho">Comprar</button>
                </div>
            </div>

        </div>
    </div>
</section>