<section class="home">
    <div class="content-container">
        <div class="home-text">
            <span class="home-subtitle">
                RÁPIDO. FÁCIL. LITERÁRIO.
            </span>
            <h1>
                Encontre sua <br>
                próxima grande história <br> com facilidade
            </h1>
            <p>
                Uma plataforma completa para descobrir livros, acompanhar seus pedidos e gerenciar sua estante de forma
                simples e segura.
            </p>
            <button class="input-submeter">
                Começar agora →
            </button>
        </div>

    </div>
</section>